@import "config";

.display {
    display: flex;
    justify-content: center;
}
.button {
    margin: 2*$gutter $gutter;
    padding: $gutter/2;
    background-color: $white;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-family: $font-heading;
    font-weight: bold;
    color: black;

    transition:
        background-color $transition;

    &:hover {
        background-color: $lighter-gray;
        cursor: pointer;
    }

    &--active {
        background-color: $neon-green;
        &:hover {
            background-color: $neon-green;
        }
    }
}