@import "config";

.display {
  display: flex;
  justify-content: center;
}

.button {
  padding: $gutter/2;
  margin: 2*$gutter $gutter;
  background-color: $white;
  font-family: $font-heading;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  color: $black;
  box-shadow: 2px 2px $light-gray;

  transition:
    background-color $transition,
    box-shadow $transition;

  &:hover {
    cursor: pointer;
    background-color: $lighter-gray;
    box-shadow: 2px 2px #666;
  }

  &--active {
    background-color: $neon-green;

    &:hover {
      background-color: $neon-green;
    }
  }
}
