@import "config";
.saved{
    color: $green;
}
.fyrirlestrar {
    margin: 0 -$gutter/2;
    display: flex;
    flex-wrap: wrap;

    &__col {
        display: flex;  
        height: 15*$gutter;
        margin-bottom: 2*$gutter;
        @include columns(4);

        font-size: 1rem;
        @media (max-width: 800px) {
            @include columns(12);
        }

        a {
            width: 100%;
        }

        &__content {
            position: relative;
            height: 100%;
            background-color: $white;
            transition:
            background-color $transition;
            &:hover {
                background-color: $light-gray;
            }

            &__text {
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                padding: $gutter/2;
                color: $black;
                font-family: $font-heading;
                background-color: inherit;
                
                &__category {
                    font-size: 1rem;
                    text-transform: uppercase;
                }
    
                &__title {
                    font-size: 2rem;
                }
            }
        }
    }
}