@import "config";

.fyrirlestrar {
    margin: 0 -$gutter/2;
    display: flex;
    flex-wrap: wrap;

    &__col {
        position: relative;
        display: flex;  
        height: 15*$gutter;
        margin-bottom: 2*$gutter;
        @include columns(4);

        font-size: 1rem;
        @media (max-width: 800px) {
            @include columns(12);
        }

        &__link {
            width: 100%;
            text-decoration: none;
        }

        &__image {
            width: 100%;
            background: black;
            background-image: url(../../img/thumb1.jpg)
        }

        &__content {
            position: absolute;
            right: $gutter/2;
            left: $gutter/2;
            bottom: 0;
            padding: $gutter/2;
            color: $black;
            font-family: $font-heading;
            background-color: $white;
            &__category {
                font-size: 1rem;
                text-transform: uppercase;
            }

            &__title {
                font-size: 2rem;
            }
        }
    }
}