@import "config";

main { /* stylelint-disable-line*/
  max-width: $max-width + 2*$gutter;
}

.fyrirlestur > * {
  padding: 0 $gutter;
  margin: $gutter/2 0;
  @media (min-width: $max-width) {
    padding: 0;
  }
}

.fyrirlestur {
  display: flex;
  padding: $gutter 0;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: $max-width) {
    width: 23/36 * 100%;
    padding: 0;
  }

  &__aspect {
    position: relative;
    height: 0;
    padding-top: 1/2*100%;
  }

  &__yt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0 $gutter;
    margin: $gutter/2 0;
    @media (min-width: $max-width) {
      padding: 0;
    }
  }

  &__text {
    font-size: $font-size;
    line-height: 2;
  }

  &__fig {
    width: 100%;
  }

  &__figcap {
    font-style: italic;
  }

  &__img {
    width: 100%;
  }

  &__quote {
    padding: $gutter;
    background-color: $lighter-gray;

    @media (min-width: $max-width) {
      margin: 0 1*-$gutter;
    }
  }

  &__cite {
    display: block;
    margin-top: $gutter;
    font-style: italic;
  }

  &__heading {
    margin-top: $gutter;
    font-family: $font-heading;
  }

  &__list-item {
    margin-bottom: $gutter;
  }

  &__code {
    font-family: $font-heading;
    line-height: 1.25;
  }
}
